// Base
@import "base/_variables";
@import "base/_mixins";
@import "base/_reset";

// Layout
@import "layout/_general";
@import "layout/_gallery";
@import "layout/_icons-services";
@import "layout/_icons";
@import "layout/_menu";
@import "layout/_button";
@import "layout/_logo";
@import "layout/_social";
@import "layout/_typography";
@import "layout/_cites";
@import "layout/_rep-img";


@import "layout/_images";
@import "layout/_services";
@import "layout/_button-gal";
@import "layout/_blog";
@import "layout/_contacts";
@import "layout/_form";

// Page styles
@import "modules/_header";
@import "modules/_quis";
@import "modules/_repellendus";
@import "modules/_debitis";