.button {
  display: block;
  width: 170px;
  height: 50px;
  border-radius: 24px;
  background-color: #c86dd7;
  text-align: center;
  margin: 0 auto;
  padding: 12px 53px;
  cursor: pointer;
  transition: all 0.3s;

  @media (min-width: 768px) {
    &:hover {
      background-color: blue;
      transform: scale(1.2);
    }
  }

  &__link {
    text-decoration: none;
    color: #fff;
  }
}
.button__blog {
  display: block;
  width: 170px;
  height: 50px;
  border-radius: 24px;
  background-color: #c86dd7;
  text-align: center;
  padding: 12px 53px;
  cursor: pointer;
  transition: all 0.3s;
  margin-bottom: 50px;

  @media (min-width: 768px) {
    &:hover {
      background-color: blue;
      transform: scale(1.2);
    }
  }
}
