.button {
  @include size(170px, 50px);
  display: block;
  border-radius: 24px;
  background-color: #c86dd7;
  text-align: center;
  padding: 12px 50px;
  cursor: pointer;
  transition: all 0.3s;
  white-space: nowrap;
  width: 700;

  &--yellow {
    background-color: #FFC300;
}

  @media (min-width: 768px) {
    &:hover {
      background-color: blue;
      transform: scale(1.1);
    }
  }

  &__link {
    text-decoration: none;
    color: #fff;
  }
}
.button__blog {
  margin-bottom: 50px;
}
