.cite {
    background: #fff;
	padding: 30px 30px 42px;
	display: flex;
    flex-direction: column;
    box-shadow: 16px 16px 48px rgba(0, 0, 0, 0.09);
    border-radius: 3px;
    margin: 0 15px 15px;



    &__pic {
        margin-bottom: 15px;
    }

    &__img {
        border-radius: 50%;
        overflow: hidden;
        transition: all .3s;
    }

    &__text {
        margin-bottom: 15px;
        opacity: 0.5;
    }

    &__autor {
        font-weight: 600;
    }

}

@media (min-width: $mobile) {
    .cite {
        transition: all .3s;
        cursor: pointer;

        &:hover {
            transform: scale(1.1);

            .cite__img {
                transform: scale(1.1);
            }
        }
    }
}