.gallery {
  background: #f2f2f2;
  padding: 40px;
  margin: 0 auto;

  @media (max-width: 768px) {
    width: 414px;
    overflow: hidden;
    padding: 20px;
  }

  &__wrap {
    width: 1170px;
    margin: 0 auto;

    @media (max-width: 768px) {
      width: 100%;
    }
  }

  &__width {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;

    @media (max-width: 414px) {
      flex-direction: column;
    }
  }

  &__header {
    font-weight: 700;
  }
  &__desc {
    text-transform: uppercase;
    margin-bottom: 15px;
  }

  &__title {
    font-size: 50px;
    line-height: 48px;
    margin-bottom: 25px;
  }

  &__block {
    display: flex;
    justify-content: space-between;
  }

  &__text {
    opacity: 0.5;
    margin-bottom: 30px;
    width: 670px;

    @media (max-width: 768px) {
      width: 370px;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;

    @media (max-width: 768px) {
      width: 380px;
    }
  }

  &__span {
    font-weight: 700;
  }

  &__item {
    margin-right: 20px;
    margin-bottom: 40px;
    transition: all 0.3s;

    @media (min-width: 768px) {
      &:hover {
        transform: scale(1.1);
        font-weight: 700;
      }
    }
  }

  &__link {
    text-decoration: none;
    color: #181818;
  }
}
