.gallery {
  background: #FDF2FF;
  padding: 0 15px;
  margin: 0 auto;
  padding: 1px 0;

  @media (max-width: 768px) {
    overflow: hidden;
  }

  &__wrap {
    width: 1170px;
    margin: 0 auto;


    @media (max-width: 768px) {
      width: 100%;
      margin-top: 30px;
      
    }
  }

  &__width {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;

    @media (max-width: $mobile) {
      flex-direction: column;
    }
  }

  &__header {
    font-weight: 700;
  }
  &__desc {
    text-transform: uppercase;
    margin-bottom: 20px;
    margin-top: 60px;

    @media (max-width: $mobile) {
      margin-bottom: 15px;
      margin-top: 0;
    }

  }

  &__title {
    font-size: 56px;
    line-height: 64px;
    margin-bottom: 55px;
    font-weight: 700;

    @media (max-width: $mobile) {
      font-size: 40px;
      line-height: 48px;
      margin-bottom: 25px;
    }
  }

  &__block {
    display: flex;
    justify-content: space-between;
  }

  &__btn {
    text-align: center;
    margin-bottom: 50px;
  }

  &__text {
    opacity: 0.5;
    padding-right: 15px;
    margin: 0 auto;
    margin-bottom: 30px;


    


    @media (min-width: 768px) {
      margin-top: 110px;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;

    @media (max-width: 768px) {
      width: 380px;
      padding: 0 15px;
    }
  }

  &__span {
    font-weight: 600;
  }

  &__item {
    margin-right: 20px;
    margin-bottom: 40px;
    transition: all 0.3s;

    @media (min-width: 768px) {
      &:hover {
        font-weight: 600;

        .gallery__link {
          opacity: 1;
        }
      }
    }
  }

  &__link {
    text-decoration: none;
    color: #333333;
    opacity: 0.5;
  }
}
