* {
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

html {
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body,
html {
  min-height: 100%;
  width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
	font: 400 16px/24px $font;
	color: #333333;
}
