
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-accus:before {
    content: "\e900";
  }
  .icon-aliq:before {
    content: "\e903";
  }
  .icon-consq:before {
    content: "\e905";
  }
  .icon-exept:before {
    content: "\e907";
  }
  .icon-facebook:before {
    content: "\e909";
  }
  .icon-instagram:before {
    content: "\e90a";
  }
  .icon-quis:before {
    content: "\e90b";
  }
  .icon-twitter:before {
    content: "\e90d";
  }
  .icon-volup:before {
    content: "\e90e";
  }
  