.icon__services {
  width: 48px;
  height: 48px;
}

.subtitle__svg {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
}

.text__svg {
  opacity: 0.5;

  @media (max-width: 768px) {
    margin-bottom: 50px;
  }
}
