@include font-face('icomoon', 'fonts/icomoon/icomoon', $ver: '?15hk9a');

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
  content: "\e909";
}
.icon-instagram:before {
  content: "\e90a";
}
.icon-twitter:before {
  content: "\e90d";
}
