.logo {
    font: 700 24px/32px $font-title;
    text-transform: uppercase;
    text-decoration: none;
    color: #333333;
    padding: 15px;
}

@media (min-width: $mobile) {

    .logo {
    padding: 0;
    color: #fff;
    font-size: 40px;
    line-height: 48px;
    transition: all .3s;

    &:hover {
        color: $orange;
        transform: scale(1.1);
    }
    }
}