.services {
  text-align: center;

  &__header {
    width: 520px;
    margin: 0 auto;
    padding-top: 70px;

    @media (max-width: 768px) {
      width: 380px;
    }
  }

  &__title {
    font-size: 64px;
    font-weight: 700;
    line-height: 64px;
    margin-bottom: 30px;

    @media (max-width: 768px) {
          font-size: 40px;
          line-height: 48px;
    }

  }

  &__subtitle {
    font-weight: 600;
    margin-bottom: 70px;
  }
}

@media (min-width: 768px) {
  .services__block {
    padding: 30px 25px;
    transition: all 0.3s;
    cursor: pointer;

    &:hover {
      transform: scale(1.1);
      box-shadow: 16px 16px 48px rgba(0, 0, 0, 0.0994678);
      border-radius: 3px;
    }
  }
}

.services__row {
  margin-bottom: 70px;

  @media (max-width: 768px) {
    margin-bottom: 0;
  }
}
