.services {
  text-align: center;

  &__header {
    width: 520px;
    margin: 0 auto;
    padding-top: 70px;

    @media (max-width: 768px) {
      width: 380px;
    }
  }

  &__title {
    font-size: 64px;
    font-weight: 700;
    line-height: 64px;
    margin-bottom: 30px;
  }

  &__subtitle {
    font-weight: 600;
    margin-bottom: 70px;
  }
}

.services__row {
  margin-bottom: 70px;
}
