.social {
    text-align: center;
    display: flex;
    justify-content: center;
    margin-bottom: 35px;

    &--footer {
        display: flex;
        justify-content: flex-start;
        margin-bottom: 15px;
    }

    &__item {
        @include size(32px);
        margin: 5px;
    }

    &__link {
        color: #fff;
        text-decoration: none;
        border: 2px solid #fff;
        border-radius: 50%;
        padding: 3px 5px 0px;
        display: block;
        font-size: 16px;

        &--footer {
            color: #C86DD7;
            border-color: #C86DD7;
        }
    }
}

@media (min-width: $mobile) {
    .social {
        @include pos($r: 15px, $b: 30px);

        &--footer {
            @include pos (relative, $r: 0, $b: 0);
            margin-bottom: 15px;
            padding-left: 0;
        }

        &__link {
            transition: all .3s;
            &:hover {
                color: #ff6033;
                transform: scale(1.1);
                border-color: #ff6033;
              }
        }
        
    }
}

