.social {
    text-align: center;
    display: flex;
    justify-content: center;
    margin-bottom: 35px;


    &__item {
        @include size(32px);
        margin: 5px;
    }

    &__link {
        color: #fff;
        text-decoration: none;
        border: 2px solid #fff;
        border-radius: 50%;
        padding: 2px;
        display: block;

    }
}