.title {
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    
    &--white {
        color: #fff;
    }

}

.subtitle {
    font-weight: 700;
    text-transform: uppercase;

    &--white {
        color: #fff;
    }
}

.text {

    &--white {
        color: #fff;
    }
}

@media (min-width: $mobile) {
    .title {
        font-size: 56px;
        line-height: 64px;
    }
}