.debitis {
    background: #fff;
    background-size: cover;
    padding-top: 1px;
    padding-bottom: 1px;

    &__title {
        margin: 55px 0 25px;
        text-align: center;
    }

    &__text {
        margin-bottom: 50px;
        text-align: center;
        font-weight: 600;
    }

    &__cites {
        margin-bottom: 80px;
    }

    &__sponsors {
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
        text-align: center;
    }

    &__item {
        width: 50%;
        margin-bottom: 50px;

        &:nth-child(5), &:nth-child(6) {
            margin-bottom: 0;
        }
    }

    

    &__wrap {
        margin-bottom: 75px;
    }

}

@media (min-width: $mobile) {
    .debitis {

        &__title {
            margin: 70px 0 25px;
        }

        &__text {
            margin: 0 24% 65px;
        }

        &__wrap {
            flex-wrap: nowrap;
            margin-bottom: 95px;
        }

        &__cites {
            margin-bottom: 0;
        }

        &__sponsors {
            flex-wrap: nowrap;
            align-items: center;
            margin-bottom: 90px;
        }

        &__item {
            width: 100%;
            margin-bottom: 0;
            transition: all .3s;
            cursor: pointer;

            &:hover {
                transform: scale(1.1);
            }
        }

    }   

}