.header {
    background: url('../images/header-mobile.jpg') no-repeat top center;
    background-size: cover;
    overflow: hidden;
    padding-top: 1px;
    min-height: 100vh;

    &__wrap {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__navigation {
        @include size(100%, 65px);
        @include pos(fixed, $t: 0,$l: 0, $z:99);

        display: flex;
        justify-content: space-between;
        background: #fff;
        box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.0984488);
    }

    .nav__link {
            display: none;
        }
        
    &__title {
        font: 700 56px/64px $font-title;
        color: #fff;
        margin: 90px 0 25px;
    }

    &__text {
        font-weight: 600;
        color: #fff;
        margin-bottom: 35px;
    }

    &__btn {
        margin-bottom: 290px;
    }
}

@media (min-width: $mobile) {
    .header {
        background-image: url('../images/header.jpg');
        padding-bottom: 1px;


        &__wrap {
            display: block;
            height: 100vh;
            position: relative;
        }
    
        &__navigation {
            @include size(100%, none);
            @include pos(relative);
            
            flex-direction: row;
            display: flex;
            justify-content: space-between;
            background: none;
            box-shadow: none;
            align-items: center;
            margin-top: 30px;
            margin-bottom: 160px;
        }
    
        &__title {
            font: 700 72px/72px $font-title;
            color: #fff;
            margin: 0 67% 25px 0;
        }
    
        &__text {
            font-weight: 600;
            color: #fff;
            margin: 0 64.53% 35px 0;
            width: 370px;
        }
    
        &__btn {
            margin-bottom: 130px;
        }

        &__info {
            position: relative;
        }

        .nav__link {
            text-decoration: none;
            padding: 12px 45px;
            font-weight: 700;
            color: #fff;
            display: block;
            border: 1px solid rgba(255, 255, 255, 0.295063);
            border-radius: 24px;
            white-space:nowrap;
            transition: all .3s;

            &:hover {
                background-color: blue;
                transform: scale(1.1);
            }

        }
    }
    
}


