.quis{
    height: 100vh;
    padding-top: 1px;

    &__subtitle {
        font-weight: 700;
        text-transform: uppercase;
        margin: 45px 0 15px;
    }

    &__title {
        font-weight: 700;
        font-size: 40px;
        line-height: 48px;
        margin-bottom: 40px;
    }


    &__toggle {
        position: absolute;
        left: -9999px;

        ~ .quis__text {
            height: 0;
            transform: scaleY(0);
        }
        
        &:checked  ~ .quis__text {
            height: 100%;
            transform-origin: top;
            transition: transform .2s ease-out;
            transform: scaleY(1); 
            }
    }

    &__toggle2 {
        position: absolute;
        left: -9999px;

        ~ .quis__text2 {
            height: 0;
            transform: scaleY(0);
        }
        
        &:checked  ~ .quis__text2 {
            height: 100%;
            transform-origin: top;
            transition: transform .2s ease-out;
            transform: scaleY(1); 
        }
    }

    &__toggle3 {
        position: absolute;
        left: -9999px;

        ~ .quis__text3 {
            height: 0;
            transform: scaleY(0);
        }
        
        &:checked  ~ .quis__text3 {
            height: 100%;
            transform-origin: top;
            transition: transform .2s ease-out;
            transform: scaleY(1); 
        }
    }

    &__toggle, &__toggle2, &__toggle3 {

        &:checked {
            + .quis__label {
               position: relative;
               margin-bottom: 0;
        
                &::after {
                    @include size(161px, 8px);
                    @include pos($t: 12px, $l: 0);

                    content: '';
                    background: #C86DD7;
                    display: inline-block;
                    z-index: -1;   
                }

                .quis__arrow {
                    transform: rotate(-135deg);
                    -webkit-transform: rotate(-135deg);
                    margin-bottom: 0;
                }
            }
        }
    }

    &__label {
        cursor: pointer;

        &:last-child {
            margin-bottom: 60px;
        }
    }

    &__arrow {
        border: solid #131313;
        border-width: 0 2px 2px 0;
        display: inline-block;
        padding: 3px;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        margin: 0 0 3px 3px;
        transition: all .3s;
    }

    &__text, &__text2, &__text3 {
        padding: 8px 0 30px;
    }

    &__wrapper {
        margin-bottom: 65px;
        @include size(340px, 270px);
        display: flex;
        justify-content: flex-end;
        flex-direction: row;
    }

    &__video {
        cursor: pointer;
        position: relative;
        margin-right: -20px;
        border-radius: 3px 0px 0px 3px;

        &::before {
            @include size(100%);
            @include pos($t: 15px, $l: -15px);
            
            content: '';
            background: linear-gradient(224.72deg, #3023AE -1%, #C86DD7 100.5%);
            border-radius: 3px 0px 0px 3px;
            z-index: -1;
        }
    }
}

@media (min-width: $mobile) {
    .quis{
        padding-top: 1px;
        padding-bottom: 1px;
    
        &__subtitle {
            font-weight: 700;
            text-transform: uppercase;
            margin: 140px 0 20px;
        }
    
        &__title {
            font-weight: 700;
            font-size: 56px;
            line-height: 64px;
            margin-bottom: 55px;
        }
    
    
        &__toggle {
            position: absolute;
            left: -9999px;
    
            ~ .quis__text {
                height: 0;
                transform: scaleY(0);
            }
            
            &:checked  ~ .quis__text {
                height: 100px;
                transform-origin: top;
                transition: transform .2s ease-out;
                transform: scaleY(1); 
                }
        }
    
        &__toggle2 {
            position: absolute;
            left: -9999px;
    
            ~ .quis__text2 {
                height: 0;
                transform: scaleY(0);
            }
            
            &:checked  ~ .quis__text2 {
                height: 100px;
                transform-origin: top;
                transition: transform .2s ease-out;
                transform: scaleY(1); 
            }
        }
    
        &__toggle3 {
            position: absolute;
            left: -9999px;
    
            ~ .quis__text3 {
                height: 0;
                transform: scaleY(0);
            }
            
            &:checked  ~ .quis__text3 {
                height: 100%;
                transform-origin: top;
                transition: transform .2s ease-out;
                transform: scaleY(1); 
            }
        }
    
        &__toggle, &__toggle2, &__toggle3 {
    
            &:checked {
                + .quis__label {
                   position: relative;
                   margin-bottom: 0;
            
                    &::after {
                        @include size(161px, 8px);
                        @include pos($t: 12px, $l: 0);
    
                        content: '';
                        background: #C86DD7;
                        display: inline-block;
                        z-index: -1;   
                    }
    
                    .quis__arrow {
                        transform: rotate(-135deg);
                        -webkit-transform: rotate(-135deg);
                        margin-bottom: 0;
                    }
                }
            }
        }
    
    
    
        &__label {
            cursor: pointer;
            padding-bottom: 1px;
    
    
            &:last-child {
                margin-bottom: 60px;
            }
        }
    
        &__arrow {
            border: solid #131313;
            border-width: 0 2px 2px 0;
            display: inline-block;
            padding: 3px;
            transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
            margin: 0 0 3px 3px;
            transition: all .3s;
        }
    
        &__text, &__text2, &__text3 {
            padding: 8px 0 30px;
        }
    
        &__wrapper {
            margin-bottom: 65px;
            @include size(100%);
            display: flex;
            justify-content: flex-end;
            flex-direction: row;
        }
    
        &__video {
            cursor: pointer;
            position: relative;
            margin-right: -20px;
            border-radius: 3px 0px 0px 3px;
    
            &::before {
                @include size(100%);
                @include pos($t: 15px, $l: -15px);
                
                content: '';
                background: linear-gradient(224.72deg, #3023AE -1%, #C86DD7 100.5%);
                border-radius: 3px 0px 0px 3px;
                z-index: -1;
            }
        }
    }
}


