.repellendus {
    // background: url('../images/repellendus-background1.jpg') no-repeat top center;
    background: #3023AE;
    background-size: cover;
    padding-top: 1px;
    margin-top: 65px;
    padding-bottom: 1px;
    overflow-x: hidden;
    overflow: visible;

    position: relative;

            &::before {
                @include size(100px);
                @include pos($t: -30px, $r: 0);

                content: '';
                background: linear-gradient(224.72deg, #3023AE -1%, #C86DD7 100.5%);
                border-radius: 50%;
                transform: translateX(50%);

            } 



    &__pic {
        margin: 115px auto 35px;
    }

    &__img {
        max-width: none;
        width: 100%;
    }

    &__subtitle {
        margin-bottom: 15px;
    }

    &__title {
        margin-bottom: 25px;
    }

    &__text {
        margin-bottom: 30px;
        width: 100%;
    }

    &__btn {
        margin-bottom: 80px;
    }
}

@media (min-width: $mobile) {

    .repellendus {
        background-image: url('../images/repellendus-background.jpg');

        &::before {

            right: unset;
            left: 27%;
        }        


        &__pic {
            margin: 175px 0 220px;
            
        }

        &__subtitle {
            margin: 175px 0 20px;
        }

        &__btn {
            margin-bottom: 240px;
        }

        &__img {
            display: none;
        }

        &__text {
            margin-bottom: 35px;
        }


    }
}